- sender = message.sender_id == current_user.id ? current_user : contact

.message.panel.panel-default
  .panel-heading
    - if sender.instance_of? User
      = link_to sender.username, sender
    - else
      = sender.username
  .panel-body
    = simple_format message.content, sanitize: true
