= form_tag controller: "messages", action: "mass_destroy" do

  %table#message_table
    %thead
      %tr
        %th{style: 'width: 85%;'} Message
        %th Delete
    %tbody
    = render partial: 'conversation_header', collection: @contacts, as: :contact

  = submit_tag 'Delete selected', class: 'btn btn-primary pull-right'
