= simple_form_for section_form, url: user_path(current_user), method: :patch do |f|
  - SocialInfo.display_attributes.each do |attribute|
    = f.input *build_select(attribute, SocialInfo)
  = f.submit class: 'btn btn-primary'
