.panel.panel-default
  .panel-heading
    %h3.panel-title= user.username
  .panel-body
    .row
      .col-sm-6.col-md-3
        .thumbnail
          = image_tag user.default_pic(:thumb)
      .col-sm-6.col-md-9
