- blocked = blocked_user.blocked
- user = blocked_user.user

.well
  .row
    .col-sm-6
      - if current_user == blocked
        = user.username
      - else
        = link_to blocked.username, blocked
    - unless current_user == blocked
      .col-sm-6
        = link_to "Unblock", blocked_user_path(blocked_user), method: :delete

