#image_carousel.carousel.slide{:'data-ride' => 'carousel'}
  / Indicators
  %ol.carousel-indicators
    %li.active{data: {target: '#image_carousel', :'slide-to' => '0'}}
    %li.active{data: {target: '#image_carousel', :'slide-to' => '1'}}
    %li.active{data: {target: '#image_carousel', :'slide-to' => '2'}}

  / Wrapper for slides
  .carousel-inner
    = render partial: 'pics/carousel_pic', collection: pics, as: :pic

  / Controls
  %a.left.carousel-control{href: "#image_carousel", :'data-slide' => "prev"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{href: "#image_carousel", :'data-slide' => "next"}
    %span.glyphicon.glyphicon-chevron-right

