- provide :title, "#{ @user == current_user ? 'Your' : (@user.username + "'s") } photos"

- if current_user == @user
  .row
    .col-xs-12.col-sm-8.col-md-6
      = simple_form_for @pic, url: user_pics_path(user_id: current_user), html: { multipart: true } do |f|
        = render 'fields', f: f
.row
  = render 'index', thumbnails: @thumbnails
