#conversation {
  max-height: 500px;
  overflow-y: scroll;
}
#message_table {
  width: 100%;
  th:nth-child(2), td:nth-child(2) {
    vertical-align: middle;
    text-align: center;
  }
}
.user-summary {
  max-height: 220px;
  overflow: hidden;
}
