%nav.visible-xs.hidden-md.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: "button", :'data-toggle' => "collapse", :'data-target' => "#additional_navbar_collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    %div#additional_navbar_collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - additional_header_links.each do |key, link|
          = content_tag :li, class: (current_page?(link[:path]) ? 'active' : '') do
            = link_to raw(link[:text]), link[:path], id: link[:id]

