%header.navbar.navbar-inverse.navbar-fixed-top
  .container
    - if user_signed_in?
      %button.navbar-toggle{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '#header_collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-header
      = link_to "Dating Site", root_path, class: "navbar-brand"
    - if user_signed_in?
      #header_collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - header_links.each do |key, link|
            = content_tag :li, class: (current_page?(link[:path]) ? 'active' : '') do
              = link_to raw(link.delete(:text)), link.delete(:path), link
