%header.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to "Dating Site", root_path, class: "navbar-brand"
    - if user_signed_in?
      %ul.nav.navbar-nav.navbar-right
        - header_links.each do |key, link|
          = content_tag :li, class: (current_page?(link[:path]) ? 'active' : '') do
            = link_to raw(link.delete(:text)), link.delete(:path), link

-if user_signed_in?
  = render 'layouts/additional_header'

