%header.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to "Dating Site", root_path, class: "navbar-brand"
    - if user_signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Logout', destroy_user_session_path, method: :delete

-if user_signed_in?
  = render 'layouts/additional_header'

